#homepage-1 {
    .ps-home-banner {
        // padding-top: 30px;
        // margin-bottom: 30px;
        padding-top: 0px;
        margin-bottom: 0px;

        .ps-container {
            display: flex;
            flex-flow: row nowrap;

            > * {
                width: 100%;
            }

            .ps-section__left {
                padding-right: 30px;
                padding-left: 0;
                max-width: calc(100% - 390px);
                margin: 30px 0;
            }

            .ps-section__right {
                max-width: 390px;
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                margin: 30px 0;

                .ps-collection {
                    display: block;
                    margin-bottom: 30px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            @include media('<lg') {
                display: block;
                .ps-section__left {
                    max-width: 100%;
                    margin-bottom: 10px;
                    padding-right: 0;
                }

                .ps-section__right {
                    display: flex;
                    flex-flow: row nowrap;
                    margin: 0;
                    max-width: 100%;
                    .ps-collection {
                        width: 100%;
                        max-width: 50%;
                        padding: 0 5px;

                        img {
                            width: 100%;
                        }
                        &:first-child {
                            padding-left: 0;
                        }
                        &:last-child {
                            padding-right: 0;
                        }
                    }
                }
            }
          
        }
    }

    .ps-site-features {
        padding-bottom: 90px;
        @media screen and (max-width: 480px) {

        }
    }

    .ps-deal-of-day {
        padding-bottom: 0px;
        .slick-slide {
            > div {
                margin: 0 8px;
                height: 100%!important;
                display: flex!important;
            }
        }

        .ps-product {
            .ps-product__price {
                color: #690;
                font-size: 18px;
                font-weight: 600;
                justify-content: space-evenly;

                del {
                    margin-left: 10px;
                    font-size: 14px;
                    // margin-right: 10px;
                }

                small {
                    // margin-left: 10px;
                    color: red;
                }
            }
        }
    }

    .ps-top-categories {
        padding:15px 0;
        .row{
            justify-content: center;
        }

        h3 {
            text-transform: capitalize;
        }

        @media (min-width: 1440px) {
            .row {
                .col-xl-2 {
                    max-width: calc(100% / 8);
                }
            }
        }

        @include media('<lg') {
            // padding: 60px 0;
        }

        @include media('<md') {
            // padding: 50px 0;
        }

        @include media('<sm') {
            // padding: 40px 0;
        }

        @include media('<xs') {
            // padding: 35px 0;
        }
    }

    .ps-product-list {
        padding-bottom: 80px;
        @include media('<md') {
            padding-bottom: 50px;
        }
        @include media('<sm') {
            padding-bottom: 40px;
        }
        @include media('<xs') {
            padding-bottom: 0px;
        }
    }

    .ps-download-app {
        margin-top: 80px;
        margin-bottom: 20px;
        @include media('<sm') {
            margin-bottom: 50px;
        }
    }

    .ps-carousel {
        .slick-list {
            padding-right: 3px !important;
        }
    }
}


.rtlpage #homepage-1 {
    .ps-home-banner {
     

        .ps-container {
           
            .ps-section__left {
                padding-right: 0px;
                padding-left: 30px;
                max-width: calc(100% - 390px);
            }  
            @include media('<lg') {
                display: block;
                .ps-section__left {
                    max-width: 100%;
                    margin-bottom: 10px;
                    padding-right: 0;
                    padding-left: 0;
                }    
    }
}


}}

.ps-deal-of-day .slick-slide{
    height: auto!important;
    display: flex!important;

}
.ps-deal-of-day .slick-track{
    display: flex!important;
}

.store_content{
    margin-bottom: 50px;
    p{
        font-size: 1.8rem;
    }
    span{
        color: $color-heading;
        display: inline-block;
        margin: 0;
    }
}


.ps-page--store{
    padding-top: 0;
    .ps-container{
        display: flex;
        .ps-page__left{
            background-color: #fafafa;
            max-width: 40%;
            display: flex;
            flex-flow: column;
            .store_img img{
                width: 75%;
                margin: 30px auto;
                display: flex;
            }
            .store_content_{
                padding: 0 20px;

                p{
                    font-size: 1.6rem;
                    color: #000;
                    margin: 0 0 5px 0;
                    span{
                        font-size: 1.8rem;
                        font-weight: bold;
                        color: $color-heading;
                        margin:  0 10px;
                        text-transform: uppercase;
                    }
                    &.prev{
                        margin: 0 0 15px 0;
                    }

                }
            }
            .ps-black-driver{
                display: block;
                padding-top: 16px;
                margin-bottom: 16px;
                border-bottom: 1px solid #d5d5d5;
            }
        }

        .ps-page__right{
            width: 100%;
            padding: 30px 0 0 30px;
            div[class*=col-]{
                margin-bottom: 10px;
            }
        }
    }
}

.rtlpage .ps-page--store{
    .ps-container{
        .ps-page__right{
            // width: 100%;
            padding: 30px 30px 0 0px;
        }
    }
}

@media(max-width:768px){
    .ps-page--store{
        flex-flow: column;
       .ps-container{
        .ps-page__left{
            max-width: 50%;
            width: 50%;
            .store_content_{
                padding: 0 20px 20px;
               p {
                font-size: 1.5rem;
                span{
                    font-size: 1.5rem;
                }
               }
            }
            .se{
                display: none;
            }
            .ps-black-driver{
                display: none;
            }
        }
        .ps-page__right{
            width: 50%;
           
        }
       }

    }
}

@media(max-width:576px){
    .ps-page--store{
        flex-flow: column;
       .ps-container{
           flex-flow: column;
        .ps-page__left{
            max-width: 100%;
            width: 100%;
            flex-flow: row;
            padding: 20px 0;
            .store_img{
                width: 50%;
                img{
                    width: 70%;
                }
            }
            .store_content_{
                padding: 0 ;
                display: flex;
                flex-flow: column;
                justify-content: center;
               p {
                font-size: 1.5rem;
                span{
                    font-size: 1.5rem;
                }
               }
            }
            .se{
                display: none;
            }
            .ps-black-driver{
                display: none;
            }
        }
        .ps-page__right{
            width: 100%;
            padding: 20px 0 0;
           
        }
       }

    }
}

@media(max-width:420px){
    .ps-page--store{
       .ps-container{
        .ps-page__left{
            .store_img{
                img{
                    width: 100%;
                }
            }
            .store_content_{
                padding: 0 ;
                display: flex;
                flex-flow: column;
                justify-content: center;
               p {
                font-size: 1.3rem;
                span{
                    font-size: 1.4rem;
                }
               }
            }
            .se{
                display: none;
            }
            .ps-black-driver{
                display: none;
            }
        }
        .ps-page__right{
            width: 100%;
           
        }
       }

    }
}